		<div class="push"></div>
	</div>
	<footer class="site-footer">

		<!-- <div class="inner">
			<div class="row">
				<div class="col col-3">
					<nav>
						<ul class="social-links">
							<li><a href="#"><i class="fa fa-fw fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-fw fa-instagram"></i></a></li>
							<li><a href="#"><i class="fa fa-fw fa-facebook"></i></a></li>
						</ul>
					</nav>
				</div>
				<div class="col col-4 col-offset-5">
					<a href="#idcontacto" class="button button-trans" data-popup="inline">Llámanos</a>
					<a href="#idcontacto" class="button button-trans" data-popup="inline">Escríbenos</a>
					<img src="<?php //$site->img('/templates/imagen-footer.png') ?>" alt="" class="img-responsive">
				</div>
			</div>
		</div> -->
	</footer>

	<section class="section section-comparte mfp-hide popup-fb" id="comparte-promo">
		<div class="barra"><h2>Comparte la promoción</h2></div>
		<div class="boxfix-vert">
			<div class="margins">
				<h2 class="titulo-popup">¡Comparte con tus amigos e invítalos a que participen y voten por tu fotografía!</h2>
				<div class="redes text-center">
					<a href="#" class="red"><i class="fa fa-facebook facebook-comparte"></i></a>
					<a data-share="twitter" href="https://twitter.com/home?status=Gillette%20Prestobarba3%20me%20quiere%20llevar%20a%20Las%20Vegas,%20vota%20por%20mi%20y%20vete%20conmigo!%20%23GilletteVegas" target="_blank" class="red"><i class="fa fa-twitter"></i></a>
					<a data-share="google" href="https://plus.google.com/share?url=<%= constants.siteUrl %>" target="_blank" class="red"><i class="fa fa-google-plus"></i></a>
				</div>
			</div>
		</div>
	</section>

	<section class="section section-bases mfp-hide popup" id="bases">
		<div class="boxfix-vert">
			<div class="margins">
				<h2 class="titulo-popup">Bases del Concurso</h2>
				<div class="the-content">
					<p>
						<strong>
							BASES, CONDICIONES Y MECÁNICA de la promoción “LUCE TU MEJOR RASURADO Y VETE A LAS VEGAS” a llevarse a cabo del 1 de agosto de 2016 al 19 de agosto de
							2016.
						</strong>
					</p>
					<p>
						<strong>1. Organizador:</strong>
						Compañía Procter &amp; Gamble México, S. de R.L. de C.V. con domicilio en Loma Florida No. 32, Colonia Lomas de Vista Hermosa, Delegación, Cuajimalpa de
						Morelos, Código Postal 05100 en México, Distrito Federal.
					</p>
					<p>
						<strong>2. Aceptación de las Bases y Condiciones.</strong>
						La participación en la promoción
						<br/>
						<strong>“LUCE TU MEJOR RASURADO Y VETE A LAS VEGAS”</strong>
						implica el conocimiento y aceptación de las bases y condiciones, así como del aviso de privacidad contenidos en este documento. Asimismo, dicha
						participación implica también el sometimiento a dichas reglas y a las decisiones del Organizador. Lo anterior, en el entendido de que cualquier violación a
						las presentes bases o condiciones y/o al mecanismo establecido para la realización de la promoción tiene como consecuencia la inmediata exclusión de quien
						haya incurrido en dicha violación o, en su caso, la revocación del premio, sin responsabilidad para el Organizador.
					</p>
					<p>
						Asimismo, el Organizador se reserva el derecho de descalificar en cualquier momento a cualquier participante que induzca o sugiera la realización de
						prácticas inseguras, ilegales o contrarias a las buenas costumbres como parte de su participación en esta promoción. La participación en esta promoción se
						limita a los resultados alcanzados por el usuario de buena fe y queda prohibida la utilización de cualquier herramienta digital, electrónica o física capaz
						de aumentar la puntuación o resultado de la participante. El organizador tendrá el derecho de eliminar de la promoción a las participantes que recurran a
						alguna de las herramientas desleales indicadas anteriormente
					</p>
					<p>
						<strong>3. Vigencia.</strong>
						La promoción “<strong>LUCE TU MEJOR RASURADO Y VETE A LAS VEGAS”</strong> estará vigente en toda la República Mexicana del 1 de agosto de 2016 al 19 de
						agosto de 2016.
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="section section-terminos mfp-hide popup" id="terminos">
		<div class="boxfix-vert">
			<div class="margins">
				<h2 class="titulo-popup">TÉRMINOS Y CONDICIONES</h2>
				<div class="the-content">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			</div>
		</div>
	</section>