<%= app.partials.header() %>

	<div class="block-content">
		<section class="section section-home push-area">
			<div class="row row-5">
				<div class="col col-3">
					<div class="options-side-panel">
						<div class="app-logo">
							<img class="img-responsive" src="<?php //$site->img('/login/du_logo.png'); ?>" alt="">
						</div>
						<div class="content">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
					</div>
				</div>

				<div class="col col-9">
					<div class="content-panel">
						<ul class="cbp_tmtimeline">
							<!-- Here gonna go the task <li> -->
						</ul>
					</div>	
				</div>
			</div>

			<!-- Floating button  -->
			<div class="floating-button">
				<a href="#popup-new-task" data-popup="inline" class="origin-new-task"><i class="fa fa-plus"></i></a>
			</div>

			<!-- </div> -->
		</section>

		<section class="section section-popup-new-task mfp-hide popup" id="popup-new-task">
			<div class="boxfix-vert">
				<div class="margins">
					<h2 class="titulo-popup">Nueva tarea</h2>
					<p class="text-center">No seas timid@, y crea todas las tareas que quieras.</p>
					<form action="#" class="section-popup-new-task-form">
						<div class="form-fields">
							<div class="form-group">
								<input id="task" class="form-control input-block task-text" type="text" placeholder="Que vamos a hacer?">
							</div>
							<button class="button button-block button-new-task" type="submit">Crear</button>
						</div>
					</form>
				</div>
			</div>
		</section>

		<section class="section section-participa mfp-hide popup" id="participa">
			<div class="boxfix-vert">
				<div class="margins">
					<h2 class="titulo-popup">REGISTRO  CON FACEBOOK</h2>
					<p>JALANDO TODO BIEN</p>
					<form action="#/login" method="post">
						<div class="form-fields">
							<div class="form-group">
								<input id="user" class="form-control input-block" type="text" name="user" placeholder="User">
								<input id="pass" class="form-control input-block" type="password" name="pass" placeholder="Password">
							</div>
							<button class="button button-primary button-small" type="submit">Iniciar sesion</button>
						</div>
					</form>
				</div>
			</div>
		</section>
	</div>

<%= app.partials.footer() %>