<%= app.partials.header() %>

	<div class="block-content">
		<section class="section section-faq">
			<div class="inner boxfix-vert">

				<h2>Preguntas Frecuentes</h2>

				<article class="pregunta">
					<h3 class="la-pregunta">¿Cómo puedo participar?</h3>
					<div class="respuesta">
						<p>Entra a la Fanpage oficial de Gillette México (https://www.facebook.com/GilletteMexico), da click a la pestaña del concurso #GilletteMexico (http://spr.ly/GilletteVegasMX), lee las “Bases del concurso” y sigue las instrucciones.</p>
					</div>
				</article>

				<article class="pregunta">
					<h3 class="la-pregunta">¿Cuál es el periodo del concurso?</h3>
					<div class="respuesta">
						<p>Podrás cargar tu foto desde el 1 de agosto hasta el 19 de agosto. Mientras más pronto participes, tendrás más tiempo para que voten por tu foto.</p>
					</div>
				</article>

				<article class="pregunta">
					<h3 class="la-pregunta">¿Cuándo se cierran las votaciones?</h3>
					<div class="respuesta">
						<p>La votación termina el viernes 19 de agosto del 2016 a las 11:59 pm (Hora central, Ciudad de México).</p>
					</div>
				</article>

				<article class="pregunta">
					<h3 class="la-pregunta">¿Por qué motivo mi foto, no podría participar? </h3>
					<div class="respuesta">
						<p>Tu foto no puede participar, en caso de que no cumpla con los siguientes bases del concurso:</p>
						<ul>
							<li>Mostrar personas ingiriendo bebidas alcohólicas,</li>
							<li>Mostrar personas fumando,</li>
							<li>Mostrar personas consumiendo estupefacientes y/o sustancias ilegales,</li>
							<li>De ninguna forma las fotografías podrán ilustrar explícita o implícitamente una situación de riesgo, una situación que refleje o incite a la discriminación de cualquier tipo,</li>
							<li>Las fotografías deberán estar exentas de todo contenido obsceno, exentas de cualquier contenido violento, exentas de cualquier contenido sexual (incluyendo desnudos parciales o totales) así como tampoco podrán mostrar situaciones de proselitismo político, religioso o de cualquier otra índole.,</li>
							<li>Las personas que aparezcan en las fotografías de las participantes deberán abstenerse en todo momento de usar ropa y prendas de vestir que ostenten marca alguna,</li>
							<li>Finalmente las fotografías por ningún motivo deberán mostrar en su contenido productos competidores de Gillette.</li>
						</ul>
					</div>
				</article>

				<article class="pregunta">
					<h3 class="la-pregunta">¿Por qué no puedo subir mi foto?</h3>
					<div class="respuesta">
						<p>Para poder subir tu foto, debe ser .JPG o .PNG y no rebasar 5 megas.</p>
					</div>
				</article>
			</div>
		</section>
	</div>

<%= app.partials.footer() %>